<div class="dashboardMain">
  <section>
    <h3>Public</h3>
    <hr class="h-px my-2 bg-gray-400 border-0">
    <div *ngIf="public_exercises.length != 0" class="gridList">

      <div *ngFor="let exercise of public_exercises" class="item">
        <img src="{{imagesUrl + exercise.image}}">
        <div class="itemContent">
          <header>
            <h1>{{ exercise.name }}</h1>
            <div class="flex items-center">
              <p class="xp">{{ exercise.finished_xp }} XP</p>
              <i class="fa-solid fa-ellipsis-vertical ml-2 px-3 cursor-pointer"></i>
            </div>
          </header>
          <!-- <p class="description">{{ exercise.description }}</p> -->
          <!-- <a [routerLink]="['/dashboard/exercises/detail/' + exercise.id]">Detail</a> -->
        </div>
      </div>

    </div>
    <p *ngIf="public_exercises.length == 0 && !isLoadingPublic">No exercises were found.</p>
    <app-spinner *ngIf="isLoadingPublic"></app-spinner>
  </section>

  <section>
    <h3>Private</h3>
    <hr class="h-px my-2 bg-gray-400 border-0">
    <div *ngIf="private_exercises.length != 0" class="gridList">



      <div *ngFor="let exercise of private_exercises" class="item">
        <img src="{{imagesUrl + exercise.image}}">
        <div class="itemContent">
          <header>
            <h1>{{ exercise.name }}</h1>
            <div class="flex items-center">
              <p class="xp">{{ exercise.finished_xp }} XP</p>
              <i class="fa-solid fa-ellipsis-vertical ml-2 px-3 cursor-pointer"></i>
            </div>
          </header>
          <!-- <p class="description">{{ exercise.description }}</p> -->
          <!-- <a [routerLink]="['/dashboard/exercises/detail/' + exercise.id]">Detail</a> -->
        </div>
      </div>



    </div>
    <p *ngIf="private_exercises.length == 0 && !isLoadingPrivate">No exercises were found.</p>
    <app-spinner *ngIf="isLoadingPrivate"></app-spinner>
  </section>
</div>