<div class="item">
  <img src="{{imagesUrl + exercise.image}}">
  <div class="itemContent">
    <header>
      <h1>{{ exercise.name }}</h1>
      <div class="flex items-center relative">
        <p class="xp">{{ exercise.finished_xp }} XP</p>
        <i class="fa-solid fa-ellipsis-vertical ml-2 px-3 cursor-pointer"
          #dropdown (click)="toggleDropdown()"></i>
        <div class="dropdownContent flex flex-col" [ngClass]="{'dropdownClicked': dropdownClicked}">
          <a  [routerLink]="['/dashboard/profile']" [routerLinkActive]="'active'"><i class="fa-solid fa-user"></i> Profile</a>
          <a  ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        </div>
      </div>
    </header>
    <!-- <p class="description">{{ exercise.description }}</p> -->
    <!-- <a [routerLink]="['/dashboard/exercises/detail/' + exercise.id]">Detail</a> -->
  </div>
</div>