<!-- <h1>DASHBOARD</h1> -->

<div class="flex flex-row h-screen bg">
  <app-navigation (closeNav)="closeNav($event)"></app-navigation>

  <div class="flex-col grow-[4] md:grow-8 content" [ngClass]="{'blur': toggldeNav}">
    <nav class="nav w-[100%] flex justify-between items-center px-10 py-5">
      <i class="fa-solid fa-bars cursor-pointer" (click)="toggleNav()"></i>
      <div class="flex items-center">
        <img src="assets/img/13.png" class="h-8 w-8 sm:h-11 sm:w-11 mr-3">
        <div class="cursor-pointer relative dropdown">
          <p *ngIf="user" #dropdown (clickOutside)="toggleDropdown()" (click)="toggleDropdown()">{{ user.username }}</p>
          <div class="dropdownContent flex flex-col" [ngClass]="{'dropdownClicked': dropdownClicked}">
            <a  [routerLink]="['/dashboard/profile']" [routerLinkActive]="'active'"><i class="fa-solid fa-user"></i> Profile</a>
            <a  (click)="onLogout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="h-full main px-10">
      <router-outlet></router-outlet>
    </div>

    <!-- <footer>afsg</footer> -->
  </div>
</div>