<nav class="sidenav flex flex-col px-8 toggle" [ngClass]="{'large': toggle || large, 'small': small, 'toggle': toggle}">

  <img src="assets/img/logo.png" class="logo">

  <a [routerLink]="['/dashboard']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </a>

  <a [routerLink]="['/dashboard/exercises']" [routerLinkActive]="'active'">
    <i class="fa-solid fa-dumbbell"></i>
    <span>Exercises</span>
  </a>

  <a [routerLink]="['/dashboard/sets']" [routerLinkActive]="'active'">
    <i class="fa-solid fa-list-check"></i>
    <span>Sets</span>
  </a>

  <a [routerLink]="['/dashboard/ranking']" [routerLinkActive]="'active'">
    <i class="fa-solid fa-ranking-star"></i>
    <span>Ranking</span>
  </a>

  <a [routerLink]="['/dashboard/suggestions']" [routerLinkActive]="'active'">
    <i class="fa-solid fa-message"></i>
    <span>Suggestions</span>
  </a>
</nav>