<!-- <div class="flex flex-col h-full">
  <section class="main">
    <div class="profile-container flex flex-col">

      <div class="banner">
        <img src="{{ avatarUrl + userData.avatar }}">
      </div>

      <div class="mt-12">
        <h1 class="nickname">{{ userData.username }}</h1>
        <div class="lvl-container flex flex-col w-1/2" *ngIf="userStats">
          <div class="progressbar-wrapper">
            <img src="assets/img/star.svg" class="star" [ngStyle]="{'left': progress + '%'}">
            <div class="progress" [ngStyle]="{'width': progress + '%'}"></div>
          </div>
          <div class="flex justify-between px-1 lvl-info">
            <p class="curr_xp">{{ userStats.current_xp }}</p>
            <p>LEVEL {{ userStats.level }}</p>
            <p>{{ userStats.nextLvlXp }}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="dashboardMain">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
      </p>
    </div>
  </section>
</div> -->

<div class="flex flex-col h-full">
  <div class="profile-container flex flex-col">

    <div class="banner">
      <img *ngIf="userData" src="{{ avatarUrl + userData.avatar }}">
    </div>

    <div *ngIf="userData" class="mt-12 mb-4">
      <h1 class="nickname">{{ userData.username }}</h1>
      <div class="lvl-container flex flex-col w-1/2" *ngIf="userStats">
        <div class="progressbar-wrapper">
          <img src="assets/img/star.svg" class="star" [ngStyle]="{'left': progress + '%'}">
          <div class="progress" [ngStyle]="{'width': progress + '%'}"></div>
        </div>
        <div class="flex justify-between px-1 lvl-info">
          <p class="curr_xp">{{ userStats.current_xp }}</p>
          <p>LEVEL {{ userStats.level }}</p>
          <p>{{ userStats.nextLvlXp }}</p>
        </div>
      </div>
    </div>

  </div>

  <section class="main bgcolor2">
    <div class="dashboardMain">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. Provident sunt obcaecati inventore distinctio eveniet quos? Error ad quisquam iusto!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nostrum voluptates nemo rem assumenda atque esse eveniet qui quam. 
      </p>
    </div>
  </section>
</div>