.profile-container {
  background-color: #2b2e3d;
  border-radius: 3px;
  // padding: 8px;
}


.lvl-container {
  color: var(--white);
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
}

.progressbar-wrapper {
  position: relative;
  background-color:#e0e1e6;
  display: block;
  width: 100%;
  height: .4rem;
  border-radius: 30px;
  @apply mb-4;
}

.progressbar-wrapper .progress {
  background-color: var(--color4);
  height: 100%;
  border-radius: 30px;
  max-width: 100%;
}

.lvl-container .star {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 2rem;
}

.lvl-container .lvl-info p:first-child, .lvl-container .lvl-info p:last-child {
  font-size: .8rem;
}

.lvl-container .lvl-info .curr_xp {
  color: var(--color4);
}

.profile-container .banner {
  position: relative;
  height: 30vh;
  background: linear-gradient(212.38deg, rgb(8 113 190 / 74%) 0%, rgb(8 192 255 / 73%) 100%), url('../../../..//assets/img/banner.webp');
  background-size: cover;
  // filter: grayscale(1);
  border-radius: 3px 3px 0 0;
}

.profile-container .banner img {
  @apply h-32 w-32;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid var(--color2);
  border-radius: 50%;
  background-color: var(--color2);
}

.profile-container .nickname {
  color: var(--white);
  @apply text-4xl;
  font-weight: 500;
  text-align: center;
}