<div class="flex flex-col h-full">
  <section class="main">
    <div class="dashboardMain">
      
      <div class="gridList">
        <section>
          <h3>Top level</h3>
          <ng-container *ngIf="!isLoadingTopLvl">
            <div *ngFor="let user of topLvl; let i = index" class="flex items-center justify-between ranking p-2">
              <i class="fa-solid fa-medal" *ngIf="i == 0 || i == 1 || i == 2"></i>
              <p class="index" *ngIf="i != 0 && i != 1 && i != 2">{{ i + 1 }}</p>
              <div class="flex !w-[31.6%]">
                <img src="{{ avatarUrl + user.user_id.avatar }}" class="h-8 w-8 mr-2">
                <p><a [routerLink]="'/dashboard/profile/'+user.user_id.id">{{ user.user_id.username }} </a></p>
              </div>
              <div class="flex !w-[31.6%]" title="Level">
                <img src="assets/img/star.svg" class="h-6 mr-2">
                <p>{{ user.level}}</p>
              </div>
              <p class="!w-[31.6%]">{{ user.current_xp }} XP</p>
            </div>
          </ng-container>
          <app-spinner *ngIf="isLoadingTopLvl"></app-spinner>
        </section>
  
        <section>
          <h3>Top exercises completed</h3>
          <ng-container *ngIf="!isLoadingTopExercises">
            <div *ngFor="let user of topExercises; let i = index" class="flex items-center justify-between ranking p-2">
              <i class="fa-solid fa-medal" *ngIf="i == 0 || i == 1 || i == 2"></i>
              <p class="index" *ngIf="i != 0 && i != 1 && i != 2">{{ i + 1 }}</p>
              <div class="flex !w-[47.5%]">
                <img src="{{ avatarUrl + user.user_id.avatar }}" class="h-8 w-8 mr-2">
                <p><a [routerLink]="'/dashboard/profile/'+user.user_id.id">{{ user.user_id.username }} </a></p>
              </div>
              <p class="!w-[47.5%]">{{ user.exercises_completed }} Exercises</p>
            </div>
          </ng-container>
          <app-spinner *ngIf="isLoadingTopExercises"></app-spinner>
        </section>
      </div>
      
    </div>
  </section>
</div>
