.tableContainer {
  overflow-x: auto;
  @apply w-[80vw] md:w-full;
}

table {
  border: 2px solid var(--color4);
  border-collapse: collapse;
  @apply w-full;
}

table tr:first-child {
  background-color: var(--color4);
  text-align: left;
}

table th, table td {
  @apply p-2;
}

table tr:nth-child(even) {
  background-color: var(--color2);
}

table td button {
  background-color: var(--color4);
  @apply p-2;
  border-radius: 4px;
  min-width: 34px;
}

table td button:not(:first-child) {
  // @apply ml-4;
}

.bgRed {
  background-color: #b62020 !important;
}

.bgGreen {
  background-color: green !important;
}

.bgOrange {
  background-color: #ca8c1b !important;
}

td input, td select {
  width: 100%;
  padding: 0.3rem;
  outline: none;
  background-color: var(--color1);
}