<div class="flex flex-col h-full">
  <section class="main">
    <div class="dashboardMain">

      <section>
        <h3>Daily Goals</h3>

        <div class="gridList">
          <div *ngFor="let goal of dailyGoals" class="dailyGoal">
            <div *ngIf=" goal.completed_repetitions >= goal.repetitions" class="overlay">
              <i class="fa-regular fa-circle-check" style="color: #1aa24e;"></i>
            </div>
            <img src="{{ (goal.subscriptionType == 'Exercise' ? exerciseImgUrl : setImgUrl) + goal.subscription.image }}">
            <div class="dailyGoalFooter">
              <div class="flex justify-between">
                <p>{{ goal.subscription.name }}</p>
                <p>{{ goal.subscriptionType }}</p>
              </div>
              <div class="flex justify-between items-center mt-3">
                <p>{{ goal.completed_repetitions}} / {{ goal.repetitions }}</p>
                <button (click)="play(goal)"><i class="fa-solid fa-play"></i> Start</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- <section>
        <h1>Statistics</h1>
      </section> -->
    
    </div>
  </section>
</div>
