<div class="dashboardMain">

  <section>
    <h1>Daily Goals</h1>
  </section>

  <section>
    <h1>Statistics</h1>
  </section>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum recusandae maxime quidem! Error, ipsum fuga. Placeat odio repellendus ut consectetur ducimus quisquam error blanditiis, minima, totam doloribus eligendi molestias assumenda.
  </p>

</div>