<div class="dashboardMain">
  <section>
    <h3>Subscriptions</h3>
    <!-- <hr class="h-px my-2 bg-gray-400 border-0"> -->
    <div *ngIf="exercises.length != 0 && !isLoading" class="gridList">

      <app-list-item *ngFor="let exercise of exercises" [item]="exercise.subscription" [itemType]="'exercise'" (updateList)="getSubscriptions($event)"></app-list-item>

    </div>
    <p *ngIf="exercises.length == 0 && !isLoading">You don't have any subscriptions yet.</p>
    <app-spinner *ngIf="isLoading"></app-spinner>
  </section>
</div>