<div class="dashboardMain">
  <form class="form-content rounded" [formGroup]="form" (submit)="onSubmit()">
    <div *ngIf="!isLoading">

      <div class="form-group">
        <app-spinner *ngIf="isLoadingSubjects"></app-spinner>
        <ng-container *ngIf="!isLoadingSubjects">
          <i class="fa-solid fa-pen-to-square"></i>
          <!-- <input type="text" id="subject" formControlName="subject" placeholder="Subject" 
          [ngClass]="{'invalid': form.get('subject').invalid && form.get('subject').touched}" autocomplete="off"> -->
          <select id="subject" formControlName="subject" [ngClass]="{'invalid': form.get('subject').invalid && form.get('subject').touched}">
            <option *ngFor="let subject of subjects" value="{{ subject.id }}">{{ subject.name }}</option>
          </select>
          <label for="subject">Subject</label>
        </ng-container>
      </div>

      <div class="form-group">
        <i class="fa-solid fa-comment"></i>
        <textarea rows="8" id="message" formControlName="message" placeholder="Message"
        [ngClass]="{'invalid': form.get('message').invalid && (form.get('message').touched || form.get('message').dirty)}" autocomplete="off"></textarea>
        <label for="message" class="top-0">Message ({{form.get('message').value?.length ?? '0'}} / 1000)</label>
      </div>

      <div class="form-buttons">
        <button type="submit" class="button login" [disabled]="!form.valid">Send</button>
      </div>

    </div>
    <app-spinner *ngIf="isLoading"></app-spinner>
  </form>
</div>
