
<div class="content">
  <img src="/assets/img/logo.png" alt="logo" class="logo">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>

  </form>

  <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
  <a routerLink="/register">Register</a>

  
</div>