<p>Test</p>

<button (click)="close()">Close</button>
<button (click)="save()">Save</button>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure debitis nulla eveniet! Recusandae harum nisi maiores culpa, eius assumenda voluptatem itaque reprehenderit, repellat commodi, magni aspernatur! Dignissimos impedit sed nostrum?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure debitis nulla eveniet! Recusandae harum nisi maiores culpa, eius assumenda voluptatem itaque reprehenderit, repellat commodi, magni aspernatur! Dignissimos impedit sed nostrum?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure debitis nulla eveniet! Recusandae harum nisi maiores culpa, eius assumenda voluptatem itaque reprehenderit, repellat commodi, magni aspernatur! Dignissimos impedit sed nostrum?</p>