@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

// ************************************ //
// ***                              *** //
// ***            GENERAL           *** //
// ***                              *** //
// ************************************ //
:root {
  --color1: #354057;
  --color2: #2b2e3d;
  --color3: #0871be;
  --color4: #08c0ff;
  --white: #fff;
  --blue: #4b7fff;
  --grey: #354057;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--color1);
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='119' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%232e323d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}


.bgcolor1 {background-color: #354057;}
.bgcolor2 {background-color: #2b2e3d;}

// filter: grayscale(100%);


// ************************************ //
// ***                              *** //
// ***      LOGIN REGISTER          *** //
// ***                              *** //
// ************************************ //
.content {
  display: flex;
  height: 100vh;
}

.auth-container {
  display: flex;
  width: 90%;
  margin: auto;
  color: var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  min-height: 79vh;
}

.auth-container .image {
  background: linear-gradient(212.38deg, rgb(8 113 190 / 74%) 0%, rgb(8 192 255 / 73%) 100%), url('assets/img/test.webp');
  background-size: cover;
  background-position: center, center;
  display: none;
  width: 50%;
  @apply md:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container .image h3 {
  font-family: "Kalam";
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px var(--color2);
}

// .auth .container {
//   display: flex;
//   width: 80%;
//   margin: auto;
//   border-radius: 8px;
//   background-color: var(--color2);
//   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
//   overflow: auto;
// }

// .auth .container .item {
//   width: 100%;
//   height: 40vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   @apply md:w-1/2 md:h-[60vh];
// }

// .auth .item h3 {
//   color: var(--white);
//   font-family: 'Kalam';
//   font-size: 3em;
//   font-weight: bold;
//   text-shadow: 2px 2px var(--color2);
//   @apply md:text-7xl;
// }

// .auth .container .image {
//   background: linear-gradient(212.38deg, rgb(8 113 190 / 74%) 0%, rgb(8 192 255 / 73%) 100%), url('assets/img/test.png');
//   background-size: cover;
//   background-position: center, center;
// }

.login {
  background: linear-gradient(90deg, var(--color3), var(--color4));
}

.login:hover:not(:disabled) {
  box-shadow: 0px 0px 15px 0px var(--color3);
}

.register {
  background: linear-gradient(90deg, #441bfe, #5026a1);
}

.register:hover {
  box-shadow: 0px 0px 15px 0px #5026a1;
}

// ************************************ //
// ***                              *** //
// ***          DASHBOARD           *** //
// ***                              *** //
// ************************************ //
.bg {
  background: #354057;
  overflow: hidden;
}

section:not(.main) {
  @apply mt-6;
  color: var(--white);
  position: relative;
}

div.main {
  flex: 1 1 auto;
}

// ************************************ //
// ***                              *** //
// ***     DASHBOARD SIDENAV        *** //
// ***                              *** //
// ************************************ //
.sidenav {
  display: flex;
  color: var(--white);
  height: 100%;
  width: 124px;
  transition: margin .2s ease-out, width .2s ease-out,;
  background-color: #2b2e3d;
  box-shadow: 0 8px 32px rgb(13, 14, 19);
  padding-top: 1rem;
  margin-left: -240px;
  // transition: .2s ease-in-out;
  overflow-x: hidden;
}

.sidenav .logo {
  @apply h-16 w-16 mb-12 mx-auto;
}

.sidenav a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  @apply h-14 mt-2;
  color: #fff;
}
.sidenav a.active {
  background-color: var(--color4);
}

.sidenav a i {
  font-size: 26px;
}

.sidenav a span {
  display: none;
}

.sidenav a:hover:not(.active) {
  background: rgba(255, 255, 255, .1);
}

.small {
  margin-left: 0;
}

.large {
  margin-left: 0;
  width: 240px;
}

.large .logo {
  @apply h-32 w-32;
}

.large a {
  justify-content: flex-start;
  padding-left: 10px;
}

.large a span {
  display: block;
  margin-left: 10px;
}


.toggle {
  position: absolute;
  z-index: 20;
}

// ************************************ //
// ***                              *** //
// ***        DASHBOARD NAV         *** //
// ***                              *** //
// ************************************ //
.nav {
  color: var(--white);
  font-size: 1.3em;
}

.dropdownContent {
  margin-top: 1rem;
  min-width: 10rem;
  position: absolute;
  right: 0;
  display: none;
  background-color: #2b2e3d;
  z-index: 10;
}

.dropdownContentSmall {
  min-width: 7rem;
  background-color: #353b5a;
}

.dropdownClicked {
  display: block;
}

.dropdownContent a {
  display: block;
  font-size: .8em;
  padding: .8em .8em;
  border: 1px solid #40444b;
}

.dropdownContent a:hover:not(.active) {
  background: rgba(255, 255, 255, .1);
}

a.active {
  background: var(--color4);
}

// 


// OTHER
section {
  color: var(--white);
}

section.main {
  overflow-y: auto;
  flex: 1 1 1px;
  margin-bottom: 1rem;
}

p.error {
  background-color: red;
  color: var(--white);
  border-radius: 3px;
  padding: .5em;
}

.addBtn {
  background-color: var(--color4);
  color: var(--white);
  font-weight: 500;
  @apply text-lg p-2;
  border-radius: 3px;
}

// ************************************ //
// ***                              *** //
// ***         SCROLLBAR            *** //
// ***                              *** //
// ************************************ //
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(75 85 99 / var(--tw-bg-opacity)) var(--color4);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-600;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 5px;
}

.dashboardMain {
  @apply mx-6;
}


// ************************************ //
// ***                              *** //
// ***           FORMS              *** //
// ***                              *** //
// ************************************ //
// .form {
//   display: flex;
//   flex-direction: column;
//   width: 60%;
// }

// .form-group {
//   position: relative;
//   margin-bottom: 2em;
//   @apply md:mb-12;
// }

// .form-group input, .form-group select, .form-group textarea {
//   outline: none;
//   width: 100%;
//   border: 0;
//   font-size: 1em;
//   background-color: unset;
//   border-bottom: 1px solid var(--color4);
//   @apply md:text-2xl;
// }

// .form-group input:focus + label,
// .form-group input:not(:placeholder-shown) + label,
// .form-group select + label,
// .form-group textarea + label
// {
//   transform: translateY(-1.2em) scale(.8);
// }

// .form-group input::placeholder {
//   color: transparent;
// }

// .form-group label {
//   position: absolute;
//   color: var(--color4);
//   font-size: 1em;
//   left: 0;
//   transform-origin: 0 0;
//   transition: transform 0.2s ease-in-out;
//   @apply md:text-2xl;
// }

// .form-group input.invalid, .form-group select.invalid, .form-group textarea.invalid {
//   border-bottom: 1px solid red;
// }

// .form-group input.invalid + label, .form-group select.invalid + label {
//   color: red;
// }

// input:disabled, select:disabled, textarea:disabled {
//   cursor: not-allowed;
// }

// .button {
//   cursor: pointer;
//   color: var(--white);
//   border-radius: 40px;
//   padding: .5em 1.2em;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   font-weight: bold;
//   transition: 1s;
//   text-align: center;
//   @apply md:px-5 md:py-4;
// }

// .button:hover:not(:disabled) {
//   filter: brightness(1.35);
// }

// .button:disabled {
//   filter: grayscale(1);
// }

.form-content {
  background-color: var(--color2);
  @apply p-8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-content .title {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 500;
  @apply mb-7;
}

.form-content .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 20px;
  background: var(--color4);
}

.form-content .signup::before {
  width: 15px;
}

.form-content .form-group {
  // height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  @apply mb-6;
  position: relative;
}

.form-content .form-group i:not(label[for="image"] i) {
  position: absolute;
  color: var(--color4);
  @apply text-base;
}

.form-content .form-group input,
.form-content .form-group select,
.form-content .form-group textarea
{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 30px;
  @apply text-base;
  font-weight: 500;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background-color: unset;
  transition: all .2s ease;
}

.form-content .form-group input,
.form-content .form-group select
{
  height: 50px;
}

.form-content .form-group input:focus
{
  border-bottom: 2px solid var(--color4);
}

.form-content .form-group input::placeholder,
.form-content .form-group textarea::placeholder
{
  color: transparent;
}

.form-content .form-group input:focus + label,
.form-content .form-group input:not(:placeholder-shown) + label,
.form-content .form-group select + label,
.form-content .form-group textarea:focus + label,
.form-content .form-group textarea:not(:placeholder-shown) + label
{
  transform: translateY(-1.2em) scale(.8);
}

.form-content .form-group label:not(label[for="image"]) {
  position: absolute;
  color: var(--color4);
  font-size: 1em;
  left: 25px;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}

.form-content .form-buttons .button {
  height: 50px;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-content .form-buttons p a {
  text-decoration: underline;
  color: var(--color4);
}

.form-content .form-buttons .button:disabled {
  filter: grayscale(1);
}

input:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
}

.form-content .form-group input.invalid,
.form-content .form-group select.invalid,
.form-content .form-group textarea.invalid {
  border-bottom: 2px solid red;
}

.form-content .form-group input.invalid + label,
.form-content .form-group select.invalid + label {
  color: red;
}

option {
  background-color: #2b2e3d;
  outline: none;
}

.form-content .form-group textarea {
  resize: none;
}


// ************************************ //
// ***                              *** //
// ***         EXERCISES            *** //
// ***                              *** //
// ************************************ //
h3 {
  font-size: x-large;
}

.gridList {
  display: grid;
  gap: 1.5rem;
  @apply grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  margin-bottom: 1rem;
}

div.item:not(.auth .item) {
  display: flex;
  background-color: #2b2e3d;
  border-radius: 3px;
  @apply p-1 md:flex-row;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

div.item img {
  @apply h-24 w-24 md:mr-2;
  // @apply lg:h-60;
  // @apply lg:w-60;
  border-radius: 3px;
}

div.item div.itemContent {
  width: 100%;
  // padding: 1rem;
  display: flex;
  flex-direction: column;
}

div.item div.itemContent header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.item div.itemContent header h1 {
  font-size: x-large;
  font-weight: bold;
}

div.item div.itemContent .description {
  flex-grow: 1;
  overflow-wrap: anywhere;
  text-align: justify;
}

.xp {
  background-color: var(--color4);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

// ************************************ //
// ***                              *** //
// ***         SHARED NAV           *** //
// ***                              *** //
// ************************************ //
.cnav {
  display: flex;
  margin-bottom: 1rem;
  @apply mx-6;
  flex-wrap: wrap;
}

.cnav a {
  padding: 8px 1px 8px 1px;
  color: var(--white);
  margin-right: 20px;
  // transition: .2s;
}

.cnav a span {
  margin-left: 5px;
}

.cnav a.active, .cnav a:hover {
  background-color: #ffffff00!important;
  color: var(--color4);
  border-bottom: 2px solid var(--color4);
}

// ************************************ //
// ***                              *** //
// ***         FILE INPUT           *** //
// ***                              *** //
// ************************************ //
.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;  
}

.inputFile + label {
  position: relative;
  cursor: pointer;
  width: 100%;
  transform: none!important;
  border: 1px solid var(--color4);
  display: flex;
  @apply flex-col text-base md:text-xl sm:flex-row;
  
}

.inputFile + label strong {
  min-width: 180px;
  padding: 0.3rem;
  // border: 1px solid var(--color4);
  background-color: var(--color4);
  color: #fff;
  @apply sm:p-2;
}

.inputFile + label span {
  display: block;
  width: 100%;
  padding: .3rem;
  text-align: center;
  @apply sm:p-2;
  // border: 1px solid var(--color4);
}

// ************************************ //
// ***                              *** //
// ***           SPINNER            *** //
// ***                              *** //
// ************************************ //
.spinner {
  fill: var(--color4);
}

// ************************************ //
// ***                              *** //
// ***            DIALOG            *** //
// ***                              *** //
// ************************************ //
.cdk-overlay-container {
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32);
}

.cdk-overlay-backdrop .cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
}

.mat-dialong-container {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-width: inherit;
  padding: 24px 24px 10px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #00000000 !important;
  color: var(--white) !important;
}