@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

// ************************************ //
// ***                              *** //
// ***            GENERAL           *** //
// ***                              *** //
// ************************************ //
:root {
  --color1: #140f07;
  --color2: #102d52;
  --color3: #0871be;
  --color4: #08c0ff;
  --color5: #0ffff8;
  --white: #fff;
  --blue: #4b7fff;
  --grey: #363A45;
}

body {
  overflow-x: hidden;
  background-color: var(--grey);
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='119' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%232e323d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}


.color1 {color: #140f07;}
.color2 {color: #102d52;}
.color3 {color: #0871be;}
.color4 {color: #08c0ff;}
.color5 {color: #0ffff8;}

// filter: grayscale(100%);


// ************************************ //
// ***                              *** //
// ***      LOGIN REGISTER          *** //
// ***                              *** //
// ************************************ //
.content {
  display: flex;
  height: 100vh;
}

.auth .container {
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  background-color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: auto;
}

.auth .container .item {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply md:w-1/2 md:h-[60vh];
}

.auth .item h3 {
  color: var(--white);
  font-family: 'Kalam';
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px var(--color2);
  @apply md:text-7xl;
}

.auth .container .image {
  background: linear-gradient(212.38deg, rgb(8 113 190 / 74%) 0%, rgb(8 192 255 / 73%) 100%), url('assets/img/test.png');
  background-size: cover;
  background-position: center, center;
}

.login {
  background: linear-gradient(90deg, var(--color3), var(--color4));
}

.login:hover:not(:disabled) {
  box-shadow: 0px 0px 15px 0px var(--color3);
}

.register {
  background: linear-gradient(90deg, #441bfe, #5026a1);
}

.register:hover {
  box-shadow: 0px 0px 15px 0px #5026a1;
}

// ************************************ //
// ***                              *** //
// ***          DASHBOARD           *** //
// ***                              *** //
// ************************************ //
.bg {
  background: #354057;
  overflow: hidden;
}

section:not(.main) {
  @apply mt-6;
  color: var(--white);
  position: relative;
}

div.main {
  flex: 1 1 auto;
}

// ************************************ //
// ***                              *** //
// ***     DASHBOARD SIDENAV        *** //
// ***                              *** //
// ************************************ //
.sidenav {
  display: flex;
  color: var(--white);
  height: 100%;
  width: 124px;
  transition: margin .2s ease-out, width .2s ease-out,;
  background-color: #2b2e3d;
  box-shadow: 0 8px 32px rgb(13, 14, 19);
  padding-top: 1rem;
  margin-left: -240px;
  // transition: .2s ease-in-out;
  overflow-x: hidden;
}

.sidenav .logo {
  @apply h-16 w-16 mb-12 mx-auto;
}

.sidenav a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  @apply h-14 mt-2;
  color: #fff;
}
.sidenav a.active {
  background-color: var(--color4);
}

.sidenav a i {
  font-size: 26px;
}

.sidenav a span {
  display: none;
}

.sidenav a:hover:not(.active) {
  background: rgba(255, 255, 255, .1);
}

.small {
  margin-left: 0;
}

.large {
  margin-left: 0;
  width: 240px;
}

.large .logo {
  @apply h-32 w-32;
}

.large a {
  justify-content: flex-start;
  padding-left: 10px;
}

.large a span {
  display: block;
  margin-left: 10px;
}


.toggle {
  position: absolute;
  z-index: 20;
}

// ************************************ //
// ***                              *** //
// ***        DASHBOARD NAV         *** //
// ***                              *** //
// ************************************ //
.nav {
  color: var(--white);
  font-size: 1.3em;
}

.dropdownContent {
  margin-top: 1rem;
  min-width: 10rem;
  position: absolute;
  right: 0;
  display: none;
  background-color: #2b2e3d;
  z-index: 10;
}

.dropdownContentSmall {
  min-width: 7rem;
  background-color: #353b5a;
}

.dropdownClicked {
  display: block;
}

.dropdownContent a {
  display: block;
  font-size: .8em;
  padding: .8em .8em;
  border: 1px solid #40444b;
}

.dropdownContent a:hover:not(.active) {
  background: rgba(255, 255, 255, .1);
}

a.active {
  background: var(--color4);
}

// 


// OTHER
section {
  color: var(--white);
}

section.main {
  overflow-y: auto;
  flex: 1 1 1px;
  margin-bottom: 4rem;
}

p.error {
  background-color: red;
  color: var(--white);
  border-radius: 3px;
  padding: .5em;
}

// ************************************ //
// ***                              *** //
// ***         SCROLLBAR            *** //
// ***                              *** //
// ************************************ //
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(75 85 99 / var(--tw-bg-opacity)) var(--color4);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-600;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 5px;
}

.dashboardMain {
  @apply mx-6;
}


// ************************************ //
// ***                              *** //
// ***           FORMS              *** //
// ***                              *** //
// ************************************ //
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-group {
  position: relative;
  margin-bottom: 2em;
  @apply md:mb-12;
}

.form-group input, .form-group select, .form-group textarea {
  outline: none;
  width: 100%;
  border: 0;
  font-size: 1em;
  background-color: unset;
  border-bottom: 1px solid var(--color4);
  @apply md:text-2xl;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group select + label,
.form-group textarea + label
{
  transform: translateY(-1.2em) scale(.8);
}

.form-group input::placeholder {
  color: transparent;
}

.form-group label {
  position: absolute;
  color: var(--color4);
  font-size: 1em;
  left: 0;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
  @apply md:text-2xl;
}

.form-group input.invalid, .form-group select.invalid, .form-group textarea.invalid {
  border-bottom: 1px solid red;
}

.form-group input.invalid + label, .form-group select.invalid + label {
  color: red;
}

input:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
}

.button {
  cursor: pointer;
  color: var(--white);
  border-radius: 40px;
  padding: .5em 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;
  text-align: center;
  @apply md:px-5 md:py-4;
}

.button:hover:not(:disabled) {
  filter: brightness(1.35);
}

.button:disabled {
  filter: grayscale(1);
}

option {
  background-color: #2b2e3d;
  outline: none;
}

// ************************************ //
// ***                              *** //
// ***         EXERCISES            *** //
// ***                              *** //
// ************************************ //
h3 {
  font-size: x-large;
}

.gridList {
  display: grid;
  gap: 1.5rem;
  @apply grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  margin-bottom: 1rem;
}

div.item:not(.auth .item) {
  display: flex;
  background-color: #2b2e3d;
  border-radius: 3px;
  @apply p-1 md:flex-row;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

div.item img {
  @apply h-24 w-24 md:mr-2;
  // @apply lg:h-60;
  // @apply lg:w-60;
  border-radius: 3px;
}

div.item div.itemContent {
  width: 100%;
  // padding: 1rem;
  display: flex;
  flex-direction: column;
}

div.item div.itemContent header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.item div.itemContent header h1 {
  font-size: x-large;
  font-weight: bold;
}

div.item div.itemContent .description {
  flex-grow: 1;
}

.xp {
  background-color: var(--color4);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

// ************************************ //
// ***                              *** //
// ***         SHARED NAV           *** //
// ***                              *** //
// ************************************ //
.cnav {
  display: flex;
  margin-bottom: 1rem;
  @apply mx-6;
  flex-wrap: wrap;
}

.cnav a {
  padding: 8px 1px 8px 1px;
  color: var(--white);
  margin-right: 20px;
  // transition: .2s;
}

.cnav a span {
  margin-left: 5px;
}

.cnav a.active, .cnav a:hover {
  background-color: #ffffff00!important;
  color: var(--color4);
  border-bottom: 2px solid var(--color4);
}

// ************************************ //
// ***                              *** //
// ***         FILE INPUT           *** //
// ***                              *** //
// ************************************ //
.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;  
}

.inputFile + label {
  position: relative;
  cursor: pointer;
  width: 100%;
  transform: none!important;
  border: 1px solid var(--color4);
  display: flex;
  @apply text-base md:text-xl;
  
}

.inputFile + label strong {
  min-width: 180px;
  padding: 0.6rem;
  // border: 1px solid var(--color4);
  background-color: var(--color4);
  color: #fff;
}

.inputFile + label span {
  display: block;
  width: 100%;
  padding: .6rem;
  text-align: center;
  // border: 1px solid var(--color4);
}

// ************************************ //
// ***                              *** //
// ***           SPINNER            *** //
// ***                              *** //
// ************************************ //
.spinner {
  fill: var(--color4);
}

// ************************************ //
// ***                              *** //
// ***            DIALOG            *** //
// ***                              *** //
// ************************************ //
.middleDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscriptionDialog {
  @apply h-60 w-3/4;
  background-color: #08c0ff;
}